body {
  background: #352f5b;
}
.container {
  max-width: 400px;
}

.todos li {
  background-color: #423a6f;
  color: #ccc;
  border-color: #352f5b;
}

input[type="text"] {
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.2);
  color: #ccc;
  border: none;
}

input[type="text"]:foucs {
  color: #ccc;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.delete {
  float: right;
  cursor: pointer;
}
.filtered {
  display: none !important;
}
